<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<h3>注册信息</h3>
<form action="{% url 'users:register' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label_tag }}
        <br/>
        {{ field }}
        <br/>
        {{ field.errors }}
        <br/>
        {% if field.help_text %}
            {{ field.help_text|safe }}
            <br/><br/>
        {% endif %}
    {% endfor %}
    <button type="submit">注册</button>
</form>
<br/>
<a href="">哎呀，我有账号嘛</a>
</body>
</html>